<%- include('./partials/header'); %>

      
  <section class="contenteContainer" id="home">
    <div class="row homeContainer g-0">
      <div class="col-lg-6 col-md-12 homeParag">
        <h3 class="heading">So, you want to travel to</h3>
        <h1 class="title">Space</h1>
        <h4 class="titleparag">Let’s face it; if you want to go to space, you might as well genuinely go to 
        outer space and not hover kind of on the edge of it. Well sit back, and relax 
        because we’ll give you a truly out of this world experience!</h4>
        </div>
        <div class="col-lg-6 col-md-12 buttonExplorContainer"><button class="explore"> 
          <a href="/destination">Explore</a> 
        </button></div>
      </div>
  </section>

  <%- include('./partials/footer'); %>

  
  